<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673818937571-6esqvu8lijgigkmjcstn73j62m38ciba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673818937571-6esqvu8lijgigkmjcstn73j62m38ciba</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ZvGIXf12C9JoPfSfRHfmT3s0uUj57cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>673818937571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internshipproj</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-20772</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-20772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673818937571:ios:f309d34fed923e4c735dd6</string>
</dict>
</plist>